page {
  height: 100%;
  background-color: #fff;
  font-size: 28rpx;
  line-height: 1.8;
  color: #333;
}
view {
  font-size: 28rpx;
  line-height: 1.8;
}
input {
  height: 50rpx;
  padding: 15rpx 25rpx;
  line-height: 50rpx;
  font-size: 28rpx;
  background: #FFF;
  flex: 1;
}
.flex {
  display: flex;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fw {
  font-weight: 600;
}
.pd-lr-15 {
  padding: 0 30rpx;
}
.bg-common {
  background-color: #f7f9fd;
}
.bg-white {
  background-color: #fff;
}
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}
.bg-yellow {
  background-color: yellow;
}
.sight-list {
  padding: 30rpx;
  display: flex;
  border-bottom: 6rpx solid #f7f9fd;
}
.sight-list image {
  width: 215rpx;
  height: 175rpx;
  border-radius: 5rpx;
  margin-right: 20rpx;
}
.sight-list .sight-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sight-list .sight-info .info-title {
  font-size: 28rpx;
  line-height: 40rpx;
  font-weight: 600;
}
.sight-list .sight-info .info-desc {
  font-size: 22rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #626262;
}
.sight-list .sight-info .info-bottom {
  font-size: 22rpx;
  color: #8e939c;
}
.sight-list:last-of-type {
  border-bottom: none;
}
.border-bt-1px {
  position: relative;
}
.border-bt-1px:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2rpx;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #f0f3f9;
}
.align-center {
  display: flex;
  align-items: center;
}
